<div class="contenedorCard">
  <mat-card class="card" *ngFor="let producto of datos">
    <img [src]="producto.imagen" width="200px">
    <mat-card-header>
      <mat-card-title>
      {{producto.nombre}}
    </mat-card-title>
    <mat-card-subtitle>
      {{producto.precio}} Bs
    </mat-card-subtitle>
    </mat-card-header>   
    <mat-card-content>
      <p>{{producto.descripcion}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Boton Accion</button>
    </mat-card-actions>
  </mat-card>
</div>



<router-outlet />
